$small: 500px;
$medium: 768px;
$lg: 1000px;

.header {
    width: 100%;
    padding-inline: 2.5%;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: linear-gradient(to bottom, rgba(0,0,0,0.35), transparent);
    z-index: 100;

    .logo {
        rect, svg {
            @media screen and (max-width: $lg) {
                width: 250px;
            }
            @media screen and (max-width: $medium) {
                width: 200px;
            }
        }
    }

    .right {
        display: flex;
        font-size: clamp(0.8rem, 1vw, 1.5rem);
        align-items: center;
        gap: 0.5rem;
        height: 100%;

        .header-links {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.5rem;

            @media screen and (max-width: $lg) {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                min-height: calc(100vh - var(--header-height));
                padding: 2rem;
                padding-top: var(--header-height);
                margin-top: var(--header-height);
                flex-direction: column;
                align-items: flex-start;
                background-color: rgba(0,0,0,0.35);
                -webkit-backdrop-filter: blur(5px);
                backdrop-filter: blur(5px);
                color: var(--clr-neutral-900);
                z-index: 10;
                transform: translateX(-100%);
                transition: all 0.3s ease-out;

                &.active {
                    transform: translateX(0%);
                }
            }

            li {
                padding: 0.25rem 0.5rem;
                cursor: pointer;
                transition: 0.1s ease-out;
                font-weight: 500;

                &:hover {
                    color: var(--clr-accent);
                }
                @media screen and (max-width: $lg) {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }
                @media screen and (max-width: $medium) {
                    font-size: 1.7rem;
                }
                @media screen and (max-width: $small) {
                    font-size: 1.4rem;
                }
            }
        }

        .search {
            display: inline-block;
            width: 50px;
            height: 100%;
            position: relative;
            cursor: pointer;

            @media screen and (max-width: $lg) {
                width: 30px;
                height: 30px;
                margin-right: 1rem;
            }

            .icon {
                position: absolute;
                top: 55%;
                transform: translate(-50%,-50%);
                left: 1rem;
                color: var(--clr-neutral-200);
                font-size: 1.5rem;
                color: var(--clr-accent);
            }
        }
        .menu-icon {
            font-size: 1.5rem;
            display: none;
            justify-content: center;
            align-items: center;
            color: var(--clr-neutral-900);
            background: none;

            @media screen and (max-width: $lg) {
                display: flex;

                .icon {
                    pointer-events: none;
                }
            }
        } 
    }

    
    @media screen and (max-width: $small) {
    }
}